.portfolio-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.portfolio-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.portfolio-subtitle {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 2rem;
}
.portfolio-flex{
  display: flex;
}
.portfolio-grid {
  display: grid;
  width: calc(100%/3);
  gap: 2rem;
}

.portfolio-card {
  background-color: #1e1e1e;
  border-radius: 20px;
  overflow: hidden;
  padding: 1.2rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  margin: 0 20px;
}

.portfolio-card:hover {
  transform: translateY(-5px);
}

.portfolio-image {
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.portfolio-content h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.portfolio-content p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
}

.description{
  width: 325px;
  height: 80px;
}

.portfolio-tech {
  color: #F0DA7A;
  font-weight: bold;
}


.portfolio-icon:hover {
  color: #fff;
}

.github{
  fill: white;
}
.links{
  color: #ccc;
  fill:whitesmoke;
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.row{
  display: flex;
  justify-content: space-around;
  gap:1rem;
  padding: 5px;
}

